<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.phonegap.plugins.CellularSignal"
        version="0.1.0">

  <name>Cellular Signal</name>

  <description>
    PhoneGap Plugin for tracking changes to device's cellular signal level
  </description>

  <license>MIT</license>

  <js-module src="www/cellularsignal.js" name="cellularsignal">
    <clobbers target="cellularsignal" />
  </js-module>
  
  <repo>https://github.com/ibcomputing/phonegap-cellularsignal.git</repo>

  <engines>
    <engine name="cordova" version=">=3.3.0"/>
  </engines>

  <!-- android -->
  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="CellularSignal">
        <param name="android-package" value="com.phonegap.plugins.CellularSignal"/>
      </feature>
    </config-file>
     
    <source-file src="src/android/com/phonegap/plugins/cellularsignal/CellularSignal.java" target-dir="src/com/phonegap/plugins/cellularsignal" />
    
  </platform>

</plugin>
